@model HourlyPaid
@{
}

@{var employee = ViewData["Employee"] as Employee;}


<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => employee.FirstName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Type
            <br />
            @Html.DisplayNameFor(model => model.HourlyWage)
            <br />
            @Html.DisplayNameFor(model => model.OvertimeWage)
            <br />
            @Html.DisplayNameFor(model => employee.Email)
            <br />
            @Html.DisplayNameFor(model => employee.OfficeNumber)
            <br />
            @Html.DisplayNameFor(model => employee.OfficeExtension)
            <br />
            @Html.DisplayNameFor(model => employee.Email)
            <br />
            @Html.DisplayNameFor(model => employee.Address)
            <br />
            Relatives
            <br />
            <a asp-controller="Relatives" asp-action="Create" asp-route-EmployeeId="@employee.EmployeeId"><input id="AddNewRelative" type="button" value="New Relative" class="btn btn-primary" /></a>
        </dt>

        <dd class="col-sm-10">
            Hourly Paid
            <br />
            @Html.DisplayFor(model => model.HourlyWage)
            <br />
            @Html.DisplayFor(model => model.OvertimeWage)
            <br />
            @Html.DisplayFor(model => employee.Email)
            <br />
            @Html.DisplayFor(model => employee.OfficeNumber)
            <br />
            @Html.DisplayFor(model => employee.OfficeExtension)
            <br />
            @Html.DisplayFor(model => employee.Email)
            <br />
            @Html.DisplayFor(model => employee.Address)
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Relationship")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var relative in employee.Relatives)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => relative.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => relative.Relationship)
                            </td>
                            <td>
                                <a asp-controller="Relatives" asp-action="Edit" asp-route-EmployeeId="@employee.EmployeeId" asp-route-RelativeName="@relative.Name">Edit</a> |
                                <a asp-controller="Relatives" asp-action="Delete" asp-route-EmployeeId="@employee.EmployeeId" asp-route-RelativeName="@relative.Name">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Employees" asp-action="Edit" asp-route-EmployeeId="@employee.EmployeeId">Edit</a> |
    <a asp-controller="Companies" asp-action="Details" asp-route-Name="@employee.CompanyName">Back to List</a>
</div>
