@model HourlyPaid
@{
}

@{var employee = ViewData["Employee"] as Employee;}


<div class="container">

    <h2>@Html.DisplayFor(model => employee.FirstName)</h2>
    <h5>Employee Details</h5>
    <hr />
    <div class="row">
        <div class="col-sm">
            <dl class="dl-horizontal">
                <dt>
                    Type
                </dt>
                <dd>
                    'Hourly Paid'
                </dd>

                <dt>
                    Hourly Wage
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HourlyWage)
                </dd>

                <dt>
                    Overtime Wage
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.OvertimeWage)
                </dd>

                <dt>
                    Email
                </dt>
                <dd>
                    @Html.DisplayFor(model => employee.Email)
                </dd>

                <dt>
                    Office Number
                </dt>
                <dd>
                    @Html.DisplayFor(model => employee.OfficeNumber)
                </dd>

                <dt>
                    Office Extension
                </dt>
                <dd>
                    @Html.DisplayFor(model => employee.OfficeExtension)
                </dd>

                <dt>
                    Address
                </dt>
                <dd>
                    @Html.DisplayFor(model => employee.Address)
                </dd>
            </dl>
        </div>
    </div>

    <br/>

    <div>
        <b>Relatives</b>
        <div class="float-right">
            <a asp-controller="Relatives" asp-action="Create" asp-route-EmployeeId="@employee.EmployeeId"><input id="AddNewRelative" type="button" value="Add New Relative" class="btn btn-info" /></a>
         </div>
    </div>
    <br/>

    <table class="table bg-white table-striped table-bordered table-condensed table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Relationship")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var relative in employee.Relatives)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => relative.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => relative.Relationship)
                    </td>
                    <td>
                        <a asp-controller="Relatives" asp-action="Edit" asp-route-EmployeeId="@employee.EmployeeId" asp-route-RelativeName="@relative.Name">Edit</a> |
                        <a asp-controller="Relatives" asp-action="Delete" asp-route-EmployeeId="@employee.EmployeeId" asp-route-RelativeName="@relative.Name">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
            <br />
</div>
<br/>
<div>
    <a asp-controller="Employees" asp-action="Edit" asp-route-EmployeeId="@employee.EmployeeId">Edit Employee</a> <br/>
    <a asp-controller="Companies" asp-action="Details" asp-route-Name="@employee.CompanyName">Back to all Employees</a>
</div>