@model CompanyPc
@{
}

@{List<CompanyPc> CompanyPCs = ViewData["CompanyPCs"] as List<CompanyPc>;}

<a asp-controller="CompanyPCs" asp-action="DisplayDangerousPcs" asp-route-CompanyName=@ViewData["CompanyName"]><input id="ViewDangerousPCs" type="button" value="View Dangerous PCs" class="btn btn-primary" /></a>

<p>
    <a asp-controller="CompanyPCs" asp-action="Create" asp-route-CompanyName="@ViewData["CompanyName"]">Create New</a>
</p>
<div>
    <a asp-controller="Companies" asp-action="Details" asp-route-Name="@ViewData["CompanyName"]">Back to List</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PcId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpuModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpumanufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockSpeed)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DiskModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiskSpace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadWriteSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMemory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageCpuUsage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageMemoryUsage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (CompanyPCs != null)
        {
            foreach (var item in CompanyPCs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PcId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CpuModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpumanufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClockSpeed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiskModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiskSpace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadWriteSpeed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemoryModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMemory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageCpuUsage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageMemoryUsage)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-PcId="@item.PcId">Edit</a> |
                        <a asp-action="Delete" asp-route-PcId="@item.PcId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
