@model CompanyPc
@{
}

@{List<CompanyPc> CompanyPCs = ViewData["CompanyPCs"] as List<CompanyPc>;}

<div>
    <a asp-controller="CompanyPCs" asp-action="DisplayDangerousPcs" asp-route-CompanyName=@ViewData["CompanyName"]><input id="ViewDangerousPCs" type="button" value="View PCs in Danger" class="btn btn-danger" /></a>
    <a asp-controller="CompanyPCs" asp-action="DisplayAdminsOfDangerousPCs" asp-route-CompanyName=@ViewData["CompanyName"]><input id="ViewAdminsOfDangerousPCs" type="button" value="View Admins of PCs in Danger" class="btn btn-info" /></a><br />
    <br />
    <a asp-controller="CompanyPCs" asp-action="DisplayHealthyPcs" asp-route-CompanyName=@ViewData["CompanyName"]><input id="ViewHealthyPCs" type="button" value="View Healthy PCs" class="btn btn-success" /></a><br />
</div>

<div class="float-right">
    <p>
        <a asp-controller="CompanyPCs" asp-action="Create" asp-route-CompanyName="@ViewData["CompanyName"]">Add a New PC</a>
    </p>
</div>

<table class="table bg-white table-striped table-bordered table-condensed table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                PC-ID
            </th>
            <th>
                Admin ID
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Name of User (Employee)
            </th>
            <th>
                CPU Model
            </th>
            <th>
                CPU Manufacturer
            </th>
            <th>
                Clock Speed
            </th>

            <th>
                Disk Model
            </th>
            <th>
                Disk Space
            </th>
            <th>
                Read Write Speed
            </th>
            <th>
                Memory Model
            </th>
            <th>
                Total Memory
            </th>
            <th>
                Average CPU Usage
            </th>
            <th>
                Average Memory Usage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (CompanyPCs != null)
        {
            foreach (var item in CompanyPCs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PcId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CpuModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpumanufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClockSpeed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiskModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiskSpace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadWriteSpeed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemoryModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalMemory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageCpuUsage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageMemoryUsage)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-PcId="@item.PcId">Edit</a> |
                        <a asp-action="Delete" asp-route-PcId="@item.PcId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-controller="Companies" asp-action="Details" asp-route-Name="@ViewData["CompanyName"]">Back to List</a>
</div>